

@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}   

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: #fbf1e0;
}

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 2%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: #6c2b0b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.2s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: #fbf1e0;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover, nav a.active{
color: #6c2b0b;
border-bottom: 3px solid #6c2b0b;
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #6c2b0b;
        border-bottom: 3px solid #6c2b0b;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav .active{
    display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem;
    }

    nav a:hover, nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #6c2b0b;
    }

    header{
        margin-top: 8px;
        margin-left: 8px;
    }

    section{
    min-height: 100vh;
    padding: 5rem 2% 2rem;
}
}

section{
    min-height: 100vh;
    padding: 5rem 8% 2rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #6c2b0b;
}

.home .home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 21vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #6c2b0b;
    transition: 0.2s linear;
    border: 5px solid #fbf1e0;
    box-shadow: #fbf1e0 0px 7px 29px 0px;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.home-content p{
    font-size: 1.6rem;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #6c2b0b;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #fbf1e0;
}

.social-icons a:hover{
    color: #241104;
    transform: scale(1.3) translateY(-5px);
    background-color: #6c2b0b;
    box-shadow: 0 0 20px #ab4411;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #6c2b0b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #6c2b0b;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #6c2b0b;
    color: #241104;
    box-shadow: 0 0 20px #ab4411;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "Software Developer";
    color: #6c2b0b;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #6c2b0b;
    }
}

@keyframes words {
    0%, 20%{
        content: "Web Developer";
    }

    21%, 40%{
        content: "Software Developer";
    }

    41%, 60%{
        content: "Game Developer";
    }
    61%, 80%{
        content: "Music Producer";
    }
}

@media(max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width: 995px){
    .home{
        flex-direction: column;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 43vw;
        margin-top: 4rem;
    }

}

.or{
    display: inline-block;
    margin-left: 10px;
    font-size: 1.9rem;
}

.email{
    display: inline-block;
    margin-left: 10px;
    font-size: 1.8rem;
}

@media(max-width: 995px){
    .or{
        display: none;
        font-size: 1rem;
    }

    .email{
    font-size: 1.6rem;
    margin-top: 200px;
    padding-left: 10px;
    border-left: 2px solid #fbf1e0;
    display: block;
}
}